
@font-face {
    font-family: comfortaa;
    src: url(/Fonts/Comfortaa-Regular.ttf);
}

*{
    font-family: comfortaa;
}

/* navbar section */

/* .nv{
    margin-left: 10px;
    margin-right: 10px;
} */

.navbar-brand img{
    width: 100px;
    height: 100px;
}

.nav-item a{
    font-size: 1.5rem;
}

/* staff section */

.calum{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

@media screen and (min-width: 800px){
    .abtrow{
        background-color: #EDEDED;
        padding: 30px;
        border-radius: 15px;
        border:dotted #B4CDE6 2.5px;
    }
    .abtrow:hover{
        /* background-color: aliceblue; */
        transition: 0.5s;
        background-color: #B4CDE6;
    }
}

@media screen and (max-width: 700px){
    .calum{
        padding: 10px;
    }
    .abtrow{
        background-color: #F9F9F9;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
    }
}

.card{
    border-radius: 10px;
}

.card-text{
    text-align: center;
}

.card img{
    border-radius: 9px 9px 0 0;
}

/* footer section */

.footer_section {
    background-color: #212529;
    padding: 20px 0;
    /* font-family: "Roboto", sans-serif; */
  }
  
  .footer_section p, .footer_section ul li{
    color: #fdfdfe;
    margin: 0;
    text-align: center;
  }
  
  .footer_section a {
    color: #fdfdfe;
  }

  .nl{
    text-align: center;
    margin: 3px;
  }

  .nl a{
    text-decoration: none;
  }
  
  .footer_section .col-2 a{
    text-decoration: none;
    padding-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
  }